/build/
/tmp/
/.Xil/
**/__pycache__/
*.pyc
*.jou
*.log
*.pb
/hardware/rtl/opna_core/jt10_opna_rom.sv
/tools/opna_sim/fixtures/counterattack/Counterattack.fur
/tools/opna_sim/fixtures/counterattack/Counterattack.vgm

/.venv/
**/node_modules/
